* {
    -fx-main-color: #03A9F4;
}

.theme-pane {

    -fx-background-color: -fx-main-color;

}

.tab-pane .tab-header-area .tab-header-background {

    -fx-background-color: -fx-main-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 -2 5;
}


.tab-pane
{
    -fx-tab-min-width:100px;
    -fx-background-color: #263238;
}


.tab-pane .tab
{
    -fx-background-color:#263238;
    -fx-opacity: 0.8;
    -fx-text-fill: white;

}

.tab-pane .tab:selected
{
    -fx-background-color: #263238;
    -fx-opacity: 1;
}

.tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill:-fx-main-color;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.form-text {

    -fx-text-fill: white;


}

.form-input {

    -fx-font-size: 13;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: -fx-main-color;
    -fx-text-fill: -fx-main-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-main-color transparent;

}

.form-input-inverse {

    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: ghostwhite;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.form-button {

    -fx-background-color: #263238;
    -fx-border-color: -fx-main-color;
    -fx-border-radius: 10;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-pref-height: 30;
    -fx-text-fill: -fx-main-color;
    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-padding: 0 10 0 10;

}