
.form-text {

    -fx-text-fill: white;


}

.form-input {

    -fx-font-size: 13;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: -fx-main-color;
    -fx-text-fill: -fx-main-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-main-color transparent;

}

.form-input-inverse {

    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: ghostwhite;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.form-button {

    -fx-background-color: #263238;
    -fx-border-color: -fx-main-color;
    -fx-border-radius: 10;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-pref-height: 30;
    -fx-text-fill: -fx-main-color;
    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-padding: 0 10 0 10;

}