.form-text {

    -fx-text-fill: -fx-main-color;

}

.form-input {

    -fx-font-size: 13;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: -fx-main-color;
    -fx-text-fill: -fx-main-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-main-color transparent;

}

.form-input-inverse {

    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: ghostwhite;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;

}

.form-button {

    -fx-background-color: -fx-main-color;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-text-alignment: center;

}

.radio-button {

    -fx-text-fill: -fx-main-color;

}


.dialog-pane
{
    -fx-tab-min-width:100px;
    -fx-background-color: -fx-secondary-color;
}

.dialog-pane > .label
{
    -fx-text-fill: -fx-main-color;
}
